<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/01.JPG" %>">
  <%= image_tag "photos/default2/previews/01.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/02.JPG" %>">
  <%= image_tag "photos/default2/previews/02.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/03.JPG" %>">
  <%= image_tag "photos/default2/previews/03.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/04.JPG" %>">
  <%= image_tag "photos/default2/previews/04.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/05.JPG" %>">
  <%= image_tag "photos/default2/previews/05.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/06.JPG" %>">
  <%= image_tag "photos/default2/previews/06.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/07.JPG" %>">
  <%= image_tag "photos/default2/previews/07.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/08.JPG" %>">
  <%= image_tag "photos/default2/previews/08.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/09.JPG" %>">
  <%= image_tag "photos/default2/previews/09.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/10.JPG" %>">
  <%= image_tag "photos/default2/previews/10.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/11.JPG" %>">
  <%= image_tag "photos/default2/previews/11.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/12.JPG" %>">
  <%= image_tag "photos/default2/previews/12.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/13.JPG" %>">
  <%= image_tag "photos/default2/previews/13.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/14.JPG" %>">
  <%= image_tag "photos/default2/previews/14.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/15.JPG" %>">
  <%= image_tag "photos/default2/previews/15.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/16.JPG" %>">
  <%= image_tag "photos/default2/previews/16.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/17.JPG" %>">
  <%= image_tag "photos/default2/previews/17.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/18.JPG" %>">
  <%= image_tag "photos/default2/previews/18.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/19.JPG" %>">
  <%= image_tag "photos/default2/previews/19.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/20.JPG" %>">
  <%= image_tag "photos/default2/previews/20.JPG" %>
</a>
