<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default_plus/01.JPG" %>">
  <%= image_tag "photos/default_plus/previews/01.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default_plus/02.JPG" %>">
  <%= image_tag "photos/default_plus/previews/02.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default_plus/03.JPG" %>">
  <%= image_tag "photos/default_plus/previews/03.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default_plus/04.JPG" %>">
  <%= image_tag "photos/default_plus/previews/04.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default_plus/05.JPG" %>">
  <%= image_tag "photos/default_plus/previews/05.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default_plus/06.JPG" %>">
  <%= image_tag "photos/default_plus/previews/06.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default_plus/07.JPG" %>">
  <%= image_tag "photos/default_plus/previews/07.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default_plus/08.JPG" %>">
  <%= image_tag "photos/default_plus/previews/08.JPG" %>
</a>
