<a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/previews/01.JPG" %>">
  <%= image_tag "photos/business_comfort/previews/01.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/previews/02.JPG" %>">
  <%= image_tag "photos/business_comfort/previews/02.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/previews/03.JPG" %>">
  <%= image_tag "photos/business_comfort/previews/03.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/previews/04.JPG" %>">
  <%= image_tag "photos/business_comfort/previews/04.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/previews/05.JPG" %>">
  <%= image_tag "photos/business_comfort/previews/05.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/previews/06.JPG" %>">
  <%= image_tag "photos/business_comfort/previews/06.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/previews/07.JPG" %>">
  <%= image_tag "photos/business_comfort/previews/07.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/previews/08.JPG" %>">
  <%= image_tag "photos/business_comfort/previews/08.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/previews/09.JPG" %>">
  <%= image_tag "photos/business_comfort/previews/09.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/previews/10.JPG" %>">
  <%= image_tag "photos/business_comfort/previews/10.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/previews/11.JPG" %>">
  <%= image_tag "photos/business_comfort/previews/11.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/previews/12.JPG" %>">
  <%= image_tag "photos/business_comfort/previews/12.JPG" %>
</a>
