<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/01.JPG" %>">
  <%= image_tag "photos/default3/01.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/02.JPG" %>">
  <%= image_tag "photos/default3/02.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/03.JPG" %>">
  <%= image_tag "photos/default3/03.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/04.JPG" %>">
  <%= image_tag "photos/default3/04.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/05.JPG" %>">
  <%= image_tag "photos/default3/05.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/06.JPG" %>">
  <%= image_tag "photos/default3/06.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/07.JPG" %>">
  <%= image_tag "photos/default3/07.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/08.JPG" %>">
  <%= image_tag "photos/default3/08.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/09.JPG" %>">
  <%= image_tag "photos/default3/09.JPG" %>
</a>

<a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/10.JPG" %>">
  <%= image_tag "photos/default3/10.JPG" %>
</a>

