<div class="container inner">

  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Номер класса "Бизнес-Комфорт"
      </h2>
    </div>
  </div>

  <div class="row gallery">

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/01.jpg" %>">
      <%= image_tag "photos/business_comfort/01.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/02.jpg" %>">
      <%= image_tag "photos/business_comfort/02.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/03.jpg" %>">
      <%= image_tag "photos/business_comfort/03.jpg" %>
    </a>
    <!-- <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/04.jpg" %>">
      <%= image_tag "photos/business_comfort/04.jpg" %>
    </a> -->
    <!-- <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/05.jpg" %>">
      <%= image_tag "photos/business_comfort/05.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/06.jpg" %>">
      <%= image_tag "photos/business_comfort/06.jpg" %>
    </a> -->
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/07.jpg" %>">
      <%= image_tag "photos/business_comfort/07.jpg" %>
    </a>
    <!-- <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/08.jpg" %>">
      <%= image_tag "photos/business_comfort/08.jpg" %>
    </a> -->
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/09.jpg" %>">
      <%= image_tag "photos/business_comfort/09.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/10.jpg" %>">
      <%= image_tag "photos/business_comfort/10.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/11.jpg" %>">
      <%= image_tag "photos/business_comfort/11.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/12.jpg" %>">
      <%= image_tag "photos/business_comfort/12.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/13.jpg" %>">
      <%= image_tag "photos/business_comfort/13.jpg" %>
    </a>

  </div>

  <div class="row cta">
    <div class="span12">
      <a class="btn btn-large btn-primary" href="/reservation">On-line бронирование номера</a>
    </div>
  </div>
</div>
