<div class="container inner">

  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Номер класса "Бизнес"
      </h2>
    </div>
  </div>

  <div class="row gallery">
    <a class="span3 fancybox" rel="group" href="/images/photos/biz/2_2.jpg">
      <%= image_tag "photos/biz/2_2.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="/images/photos/biz/2_3.jpg">
      <%= image_tag "photos/biz/2_3.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="/images/photos/biz/2_4.jpg">
      <%= image_tag "photos/biz/2_4.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="/images/photos/biz/2_5.jpg">
      <%= image_tag "photos/biz/2_5.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="/images/photos/biz/2_6.jpg">
      <%= image_tag "photos/biz/2_6.jpg" %>
    </a>
  </div>

  <div class="row cta">
    <div class="span12">
      <a class="btn btn-large btn-primary" href="/booking?type=biz">On-line бронирование номера</a>
    </div>
  </div>
</div>
