<div class="container inner">

  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Номер класса "Люкс"
      </h2>
    </div>
  </div>

  <div class="row gallery">
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/3_1.jpg">
      <%= image_tag "photos/lux/3_1.jpg", alt: "" %>
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/3_2.jpg">
      <%= image_tag "photos/lux/3_2.jpg", alt: "" %>
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/3_4.jpg">
      <%= image_tag "photos/lux/3_4.jpg", alt: "" %>
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/3_5.jpg">
      <%= image_tag "photos/lux/3_5.jpg", alt: "" %>
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/4_1.jpg">
      <%= image_tag "photos/lux/4_1.jpg", alt: "" %>
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/4_2.jpg">
      <%= image_tag "photos/lux/4_2.jpg", alt: "" %>
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/4_3.jpg">
      <%= image_tag "photos/lux/4_3.jpg", alt: "" %>
    </a>
    <a class="span3 fancybox" rel="group" href="/assets/images/photos/lux/4_4.jpg">
      <%= image_tag "photos/lux/4_4.jpg", alt: "" %>
    </a>
  </div>

  <div class="row cta">
    <div class="span12">
      <a class="btn btn-large btn-primary" href="/booking?type=lux">On-line бронирование номера</a>
    </div>
  </div>
</div>
