<div class="container inner">

  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Фотогалерея
      </h2>
    </div>
  </div>

  <div class="row gallery" style="margin-bottom: 50px">

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/01.jpg" %>">
      <%= image_tag "photos/general/01.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/02.jpg" %>">
      <%= image_tag "photos/general/02.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/03.jpg" %>">
      <%= image_tag "photos/general/03.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/04.jpg" %>">
      <%= image_tag "photos/general/04.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/05.jpg" %>">
      <%= image_tag "photos/general/05.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/06.jpg" %>">
      <%= image_tag "photos/general/06.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/07.jpg" %>">
      <%= image_tag "photos/general/07.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/01.jpg" %>">
      <%= image_tag "photos/business_comfort/01.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/02.jpg" %>">
      <%= image_tag "photos/business_comfort/02.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/03.jpg" %>">
      <%= image_tag "photos/business_comfort/03.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/04.jpg" %>">
      <%= image_tag "photos/business_comfort/04.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/business_comfort/05.jpg" %>">
      <%= image_tag "photos/business_comfort/05.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/default_plus/01.jpg" %>">
      <%= image_tag "photos/default_plus/01.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/default_plus/02.jpg" %>">
      <%= image_tag "photos/default_plus/02.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/01.jpg" %>">
      <%= image_tag "photos/default2/01.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/02.jpg" %>">
      <%= image_tag "photos/default2/02.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/03.jpg" %>">
      <%= image_tag "photos/default2/03.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/04.jpg" %>">
      <%= image_tag "photos/default2/04.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/default2/05.jpg" %>">
      <%= image_tag "photos/default2/05.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/01.jpg" %>">
      <%= image_tag "photos/default3/01.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/02.jpg" %>">
      <%= image_tag "photos/default3/02.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/default3/03.jpg" %>">
      <%= image_tag "photos/default3/03.jpg" %>
    </a>
  </div>
  <!-- <%= link_to "Отзывы", '/feedbacks' %> -->
</div>
