<div class="container inner">

  <div class="row">
    <div class="span12 featurette">
      <h2 class="featurette-heading">
        Фотогалерея
      </h2>
    </div>
  </div>

  <div class="row gallery" style="margin-bottom: 50px">

    <!-- First screen -->

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/17.jpg" %>">
      <%= image_tag "photos/general/17.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/24.jpg" %>">
      <%= image_tag "photos/general/24.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/25.jpg" %>">
      <%= image_tag "photos/general/25.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/27.jpg" %>">
      <%= image_tag "photos/general/27.jpg" %>
    </a>


    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/0007.jpg" %>">
      <%= image_tag "photos/new/0007.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/14.jpg" %>">
      <%= image_tag "photos/general/14.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/0005.jpg" %>">
      <%= image_tag "photos/new/0005.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/0006.jpg" %>">
      <%= image_tag "photos/new/0006.jpg" %>
    </a>


    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/0008.jpg" %>">
      <%= image_tag "photos/new/0008.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00035.jpg" %>">
      <%= image_tag "photos/new/00035.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/10.jpg" %>">
      <%= image_tag "photos/general/10.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00034.jpg" %>">
      <%= image_tag "photos/new/00034.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00033.jpg" %>">
      <%= image_tag "photos/new/00033.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00029.jpg" %>">
      <%= image_tag "photos/new/00029.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00036.jpg" %>">
      <%= image_tag "photos/new/00036.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00024.jpg" %>">
      <%= image_tag "photos/new/00024.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/0004.jpg" %>">
      <%= image_tag "photos/new/0004.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/21.jpg" %>">
      <%= image_tag "photos/general/21.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/22.jpg" %>">
      <%= image_tag "photos/general/22.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/0003.jpg" %>">
      <%= image_tag "photos/new/0003.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/0001.jpg" %>">
      <%= image_tag "photos/new/0001.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/0002.jpg" %>">
      <%= image_tag "photos/new/0002.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00017.jpg" %>">
      <%= image_tag "photos/new/00017.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00018.jpg" %>">
      <%= image_tag "photos/new/00018.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/general/28.jpg" %>">
      <%= image_tag "photos/general/28.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00014.jpg" %>">
      <%= image_tag "photos/new/00014.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00015.jpg" %>">
      <%= image_tag "photos/new/00015.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00019.jpg" %>">
      <%= image_tag "photos/new/00019.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00010.jpg" %>">
      <%= image_tag "photos/new/00010.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00016.jpg" %>">
      <%= image_tag "photos/new/00016.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00025.jpg" %>">
      <%= image_tag "photos/new/00025.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00026.jpg" %>">
      <%= image_tag "photos/new/00026.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00027.jpg" %>">
      <%= image_tag "photos/new/00027.jpg" %>
    </a>

    <%= partial "photos/_ap-def1" %>
    <%= partial "photos/_ap-def2" %>
    <%= partial "photos/_ap-def3" %>
    <%= partial "photos/_ap-def-plus" %>
    <%= partial "photos/_ap-biz" %>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00011.jpg" %>">
      <%= image_tag "photos/new/00011.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00012.jpg" %>">
      <%= image_tag "photos/new/00012.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00013.jpg" %>">
      <%= image_tag "photos/new/00013.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00037.jpg" %>">
      <%= image_tag "photos/new/00037.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00038.jpg" %>">
      <%= image_tag "photos/new/00038.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00020.jpg" %>">
      <%= image_tag "photos/new/00020.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00021.jpg" %>">
      <%= image_tag "photos/new/00021.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00022.jpg" %>">
      <%= image_tag "photos/new/00022.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00023.jpg" %>">
      <%= image_tag "photos/new/00023.jpg" %>
    </a>

    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00028.jpg" %>">
      <%= image_tag "photos/new/00028.jpg" %>
    </a>
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00031.jpg" %>">
      <%= image_tag "photos/new/00031.jpg" %>
    </a>
    <!--
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/00032.jpg" %>">
      <%= image_tag "photos/new/00032.jpg" %>
    </a>
    -->
    <a class="span3 fancybox" rel="group" href="<%= image_path "photos/new/0009.jpg" %>">
      <%= image_tag "photos/new/0009.jpg" %>
    </a>

  </div>
</div>
